section.main-page__theme-list
  h2.visually-hidden Список тем
  ul.themes
    li.themes__item
      a.themes__item-link(href='#')
        | Автомобили&nbsp;
        sup 88
    li.themes__item
      a.themes__item-link(href='#')
        | Удаленная работа&nbsp;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | Бизнес&nbsp;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | Путешествия&nbsp;
        sup 13
    li.themes__item
      a.themes__item-link.themes__item-link--padding(href='#')
        | Дизайн и обустройство&nbsp;
        sup 13
    li.themes__item
      a.themes__item-link(href='#')
        | Производство игрушек&nbsp;
        sup 22
    li.themes__item
      a.themes__item-link(href='#')
        | UX & UI&nbsp;
        sup 22
