ul.themes(class=(page == 'post') ? 'post__themes' : '')
  each category in categories
    li.themes__item
      a.themes__item-link(href='#')=category.name
        | &nbsp;
        sup=category.count
      if page == 'post'
        button.themes__remove-btn(type='button') Удалить категорию
