ul.themes(class=(renderPage == 'post') ? 'post__themes' : '')
  each category, key in categories
    li.themes__item
      a.themes__item-link(class=(category.isActive ? 'themes__item-link--active' : '') href=('/articles/categories/' + category.id))=category.name
        | &nbsp;
        sup.themes__link-sup=category.count
      if renderPage == 'post'
        button.themes__remove-btn(type='button') Удалить категорию
