include partials/meta.pug
.wrapper(class=(page == 'all-categories' ? 'wrapper--nobackground' : ''))
  include partials/header.pug
  block content
  include partials/footer.pug
//
  script(src='/js/vendor.js')
  script(src='/js/main.js')
