include partials/meta.pug
.wrapper(class=(renderPage == 'all-categories' || renderPage == 'my' || renderPage == 'comments' ? 'wrapper--nobackground' : ''))
  include partials/header.pug
  block content
  include partials/footer.pug

script(src='/js/vendor.js')
script(src='/js/main.js')
