extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item(class=(articles[articles.length - 1] == article) ? 'notes__list-item--last' : '')
            time.notes__item-time(datetime=article.createdAt)=article.createdDate
            a.notes__item-text(href=('/articles/edit/' + article.id))=article.announce
            input.article_id(type='hidden', name='article_id', value=article.id)
            button.notes__button.button.button--close-item.button--article-delete(type='button')
              span.visually-hidden Закрыть строку списка
